output/
venv/
.vscode/
.pytest_cache/
Algorithm_working.txt
discussion_points.txt
__pycache__/
# Add these files/folders to ignore them in git
sample.json
sample_1.jsonl
data_annotations_aligned.paired.jsonl
score.jsonl
*.log
*.tmp
*.bak
*.swp
*.DS_Store
model.json
